<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My website - About</title>
    <link rel = 'stylesheet' href = "/static/css/app.css">
</head>
<body>
    <h1>Kevin Johnson</h1>
    <p> I am 22 years old, born in september 1998. I went to Ardenne High School until 5th form and then to Wolmer's High School for Boys. I enjoy swimming, playing games and watching TV.</p>
    
</body>
</html>